
@mixin saira-font($weight: normal, $size: 1rem) {
  font-family: 'Saira', sans-serif;
  font-weight: $weight;
  font-size: calc(#{$size} * var(--font-scale));
}

@mixin flex-layout(
  $display: flex,
  $direction: row,
  $justify: null,
  $align: null
) {
  display: $display;
  flex-direction: $direction;
  
  @if $justify != null {
    justify-content: $justify;
  }
  
  @if $align != null {
    align-items: $align;
  }
}